* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Kumbh Sans', play-fair;
}

.navbar {
    background: #a6c0e0;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: purple;
    background-image: linear-gradient(to top, #008a8a 0%, #17107d 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #131313;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #00ffff;
    transition: all 0.3s ease;
}

.navbar__links .fa-caret-down {
    margin-left: 10px;
}

.submenu-container {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px;
    transition: opacity 0.3s ease 0.3s, visibility 0.3s ease;
    transition-delay: 0.3s;
}

.navbar__dropdown:hover .submenu-container {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

.navbar__dropdown:not(:hover) .submenu-container {
    opacity: 0;
    visibility: hidden;
    transition-delay: 0.3s;
}

.navbar__submenu {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    transition-delay: 0.5s;
}

.navbar__submenu a {
    text-decoration: none;
    color: #131313;
}

.navbar__submenu a:hover {
    text-decoration: underline;
}

.navbar__dropdown:hover .navbar__submenu {
    max-height: 200px;
    opacity: 1; 
    transition-delay: 0.3s; 
}

.navbar__dropdown:not(:hover) .navbar__submenu {
    max-height: 0;
    opacity: 0;
    transition-delay: 0.5s;
}

/* Home Section */

.home {
    background: #b9daf0;
    min-height: 100vh;
    width: 100%;
    padding: 100px 0;
}

.home__container {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
}

.home__heading { 
    font-size: 100px;
    margin: 0px;
    background-color: lavender;
    background-image: linear-gradient(to top, #43aff7 0%,  #1c7bba 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.home__description {
    font-size: 30px;
    text-align: center;
    margin: 3px;
    color: #0e3752;
}

.quotes {
	color: #554af0;
	font-size: 1.2rem;
}

/* Personal Section */

.profile {
	background: #d3e2f5;
	padding: 100px 0;
}

.profile__container {
	display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.profile__content {
    color: #131313;
    width: 100%;
}

.profile__content h1 {
	font-size: 2.5rem;
	text-transform: upper;
	background-color: #518ded;
    background-image: linear-gradient(to top, #0b5fe6 0%, #5270a1 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
}

.profile__content p {
	color: #485975;
	font-size: 1.5rem;
    text-align: justify;
}

.profile__content p2 {
	color:  #131313;
}

.profile__img--container {
	text-align: center;
}

.facebook {
	text-decoration: none;
}

.instagram {
	text-decoration: none;
}

.personal {
	margin: 10px;
    height: 500px;
    width: 500px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
}

/* Project Section */

.project-container{
    background: #b9daf0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 0;
}

.project-title {
    color: #fdfdfd;
    font-size: 2rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: transparent;
    background: #284274;
    background: linear-gradient(to top, #0b5fe6 0%, #5270a1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;    
    width: 100%;
    position: relative;
    z-index: 1; /* Ensure the title is above the cards */
}

.project-container .project-card{
    border-color: #b9daf0;
    border-style: ridge;
    border-radius: 10%;
    width: 308px;
    position: relative;
    height: 355px;
    background: #cad9f1;
    margin: 100px 19px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0.5px 2px black;
    transition: 0.3s ease-in-out;
    margin-top: 5%;
}

.project-container .project-card .imgBx{
    position: relative;
    width: 240px;
    height: 260px;
    top: -60px;
    left: 20px;
    margin-top: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0, 1.2);
}

.project-container .project-card .imgBx img
{
    max-width: 100%;
    border-radius: 10px;
}

.imgBx:hover img{
    transform: scale(1.1);
}

.project-card h2, p {
    text-align: center;
}


/* Skillset */

.skillset-container {
    min-height: 100vh;
    width: 100%;
    background-color: #d3e2f5;
}

.skillset-wrapper {
    padding: 100px 0;
}

.skillset {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillset-title {
    color: #fdfdfd;
    font-size: 3rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: transparent;
    letter-spacing: 4px;
    background: #284274;
    background: linear-gradient(8deg, #133b71, #133b71, #284274, #284274);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}

.skillset-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 80px;
}

.skillset-card {
    height: 350px;
    width: 370px;
    background-color: #284274;
    padding: 3% 8%;
    border: 0.2px solid #133b71;
    border-radius: 8px;
    transition: .6s;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.skillset-card::after {
    content: "";
    position: absolute;
    top: 150%;
    left: -200px;
    width: 120%;
    transform: rotate(50deg);
    background-color: #133b71;
    height: 18px;
    filter: blur(30px);
    opacity: 0.5;
    transition: 1s;
}

.skillset-card:hover:after {
    width: 225%;
    top: -100%;
}

.skillset-card i {
    color: #9fafc5;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 4.8rem;
}

.skillset-card h2 {
    color: #fdfdfd;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.skillset-card p {
    text-align: center;
    width: 100%;
    margin: 12px 0;
    color: #000;
} 

.skillset-card:hover {
    background-color: transparent;
    transform: translateY(-8px);
    border-color: #aa3f52;
}

.skillset-card:hover i {
    color: #aa3f52;
}

.skillset-card li {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Footer */

footer {
    background: #b5aeae;
    color: #000;
    text-align: center;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-top: 5px;
    margin-bottom: 5px;
}   

footer a {
    color: #000;
    text-decoration: none;
    margin: 10px 10px 0;
    font-size: 18px;
}

footer a:hover {
    text-decoration: underline;
}