* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Kumbh Sans', play-fair;
}

.navbar {
    background: #a6c0e0;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: purple;
    background-image: linear-gradient(to top, #008a8a 0%, #17107d 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #131313;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #00ffff;
    transition: all 0.3s ease;
}

/* Home Section */
.home {
    background: #b9daf0;
    padding: 200px 0;
}

.home__container {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
}

.home__heading { 
    font-size: 100px;
    margin: 0px;
    background-color: lavender;
    background-image: linear-gradient(to top, #43aff7 0%,  #1c7bba 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.home__description {
    font-size: 30px;
    text-align: center;
    margin: 3px;
    color: #0e3752;
}

.quotes {
	color: #554af0;
	font-size: 1.2rem;
}

/* Personal Section */

.profile {
	background: #d3e2f5;
	padding: 100px 0;
}

.profile__container {
	display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.profile__content {
    color: #131313;
    width: 100%;
}

.profile__content h1 {
	font-size: 2.5rem;
	text-transform: upper;
	background-color: #518ded;
    background-image: linear-gradient(to top, #0b5fe6 0%, #5270a1 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
}

.profile__content p {
	color: #485975;
	font-size: 1.5rem;
}

.profile__content p2 {
	color:  #131313;
}

.profile__img--container {
	text-align: center;
}

.facebook {
	text-decoration: none;
}

.instagram {
	text-decoration: none;
}

.personal {
	margin: 10px;
    height: 500px;
    width: 500px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
}

/* Project Section */

.project {
	background-color: #b9daf0;
	padding: 100px 0;
    text-align: center;
}

.projects-container {
    display: flex;
    justify-content: space-between; /* Space the two sections evenly */
}

/* Web Project Section */ 

.web-projects {
    width: 48%;
    text-align: center;
}

.webproject-container {
    display: flex;
    align-items: center; /* Vertically align the image and text */
    background-color: #d3e2f5;
    margin: 10px;
    margin-bottom: 20px; /* Add margin between project containers */
    margin-left: 100px;
    margin-top: 20px;
}

.kep1er-image {
    width: 50%; /* Adjust the width of the image container as needed */
    padding: 10px;
}

.kep1er-image img {
    max-width: 100%; /* Ensure the image does not exceed its container */
}

.kep1er-text {
    width: 70%; /* Adjust the width of the text container as needed */
    padding-left: 20px; /* Add padding between image and text */
}

/* Web Project Video */

.kep1er-video {
    margin-left: 40px;
    background-color: #d3e2f5;
    margin: 10px;
    padding: 10px;
}

/* Mobile Project Section */

.mobile-projects {
    width: 48%; /* Adjust the width as needed, leaving some space between the two sections */
    text-align: center;
}

.mobileproject-container {
    display: flex;
    align-items: center; /* Vertically align the image and text */
    background-color: #d3e2f5;
    margin: 10px;
    margin-bottom: 20px; /* Add margin between project containers */
    margin-left: 100px;
    margin-top: 20px;
}

.batelec-image {
    width: 50%; /* Adjust the width of the image container as needed */
    height: 50vh;
    padding: 10px;
}

.batelec-image img {
    max-width: 100%; /* Ensure the image does not exceed its container */
    max-height: 100%;
}

.batelec-text {
    width: 70%; /* Adjust the width of the text container as needed */
    padding-left: 20px; /* Add padding between image and text */
}

.submenu-container {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    border-radius: 4px; /* Add rounded corners if desired */
    padding: 10px; /* Add padding for better visual appeal */
    transition: opacity 0.3s ease 0.3s, visibility 0.3s ease; /* Add transitions for opacity and visibility with a delayed start */
    transition-delay: 0.3s; /* Add a delay before the fade-out effect starts */
}

.navbar__dropdown:hover .submenu-container {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s; /* Reset the delay for the fade-in effect */
}

.navbar__dropdown:not(:hover) .submenu-container {
    opacity: 0;
    visibility: hidden;
    transition-delay: 0.3s; /* Add a delay before the fade-out effect starts when not hovering */
}

.navbar__submenu {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    transition-delay: 0.5s;
}

.navbar__submenu a {
    text-decoration: none; /* Remove underline for all submenu links */
}

.navbar__submenu a:hover {
    text-decoration: underline; /* Add underline on hover for all submenu links */
}

.navbar__dropdown:hover .navbar__submenu {
    max-height: 200px; /* Set an appropriate max-height for your submenu */
    opacity: 1; /* Fade in on hover */
    transition-delay: 0.3s; /* Reset the delay for the fade-in effect */
}

.navbar__dropdown:not(:hover) .navbar__submenu {
    max-height: 0;
    opacity: 0;
    transition-delay: 0.5s; /* Add a delay before the fade-out effect starts when not hovering */
}


/* Skillset */

.skillset {
	background-color: #d3e2f5;
	padding: 200px 0;
}

.ide {
	background-color: #b9daf0;
	padding: 200px 0;
}

.contact {
	background-color: #d3e2f5;
	padding: 200px 0;
}



footer {
    background-color: #545454; /* Background color of the footer */
    color: #fff; /* Text color in the footer */
    text-align: center;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-top: 10px; /* Adjust as needed */
    margin-bottom: 10px; /* Adjust as needed */
}

/* Additional styling for links in the footer if needed */
footer a {
    color: #fff;
    text-decoration: none;
    margin: 10px 10px 0; /* Adjust as needed for spacing between links */
    font-size: 18px; /* Adjust as needed for icon size */
}

footer a:hover {
    text-decoration: underline;
}